---
import { isSkill } from '@/types/cv';
import type { Skill, Publication } from '@/types/cv';
import { highlightAuthor } from '@/lib/utils'

interface Props {
	elements: (Skill | Publication)[]
}

const { elements } = Astro.props
---
<ul class="list-disc ml-6 space-y-2">
  {elements.map((pub) => (
    <li class="text-base leading-snug">
      <span class="font-semibold">{pub.title}</span>
    </li>
  ))}
</ul>
