---
interface Props {
    listTitle: string
    listItems: string[]
}

const { listTitle, listItems } = Astro.props
---

<section>
    {listTitle && (
        <h2 class="text-2xl font-bold mb-6 border-b border-border-base pb-2">
            {listTitle}
        </h2>
    )}

    <div class="flex flex-wrap gap-2">
        {listItems.map(item => (
        <span
            class="px-4 py-2 bg-base border border-border-base rounded-full hover:bg-hover transition"
        >
            {item}
        </span>
        ))}
    </div>
</section>
